html {
    position: relative;
    min-height: 100%
}

body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: url('../images/pattern2.jpg');
    background-size: cover;
    background-color: #0183eb;
}

/* this is used to change the titile color when the page loads */
@keyframes title {
    from {color: purple;}
    to {color: yellow;}
}

/* styles the tiitle button */
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    padding: 20px;
    color: yellow;
    text-shadow: 3px 3px #ff0000;
    animation-name: title;
    animation-duration: 2s;
}

#container {
    padding: 20px;
    background-color: white;
    height: auto;
    opacity: 0.8;
}
/* styles the reset button */
#restartButton {
    background: #c6d934;
    background-image: -webkit-linear-gradient(top, #c6d934, #b82b2b);
    background-image: -moz-linear-gradient(top, #c6d934, #b82b2b);
    background-image: -ms-linear-gradient(top, #c6d934, #b82b2b);
    background-image: -o-linear-gradient(top, #c6d934, #b82b2b);
    background-image: linear-gradient(to bottom, #c6d934, #b82b2b);
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #8c1f1f 2px;
    text-decoration: none;
  }
  
  /* styles the reset button hover */
  #restartButton:hover {
    background: #fc3c3c;
    text-decoration: none;
  }

/* styles the header image */
#topImage {
    position: relative;
}

/* slightly larger font */
#guess {
    font-family: 'Special Elite', cursive;
    font-size: 25px;
}

/* styles font and font size for the paragraph */
p {
    font-family: 'Special Elite', cursive;
    font-size: 18px;
}